[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# Compiled Object files
*.slo
*.lo
*.o
*.d
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# This repo only
obj*
mod*
*temp*
out/*
.DS_Store
*_backup
test*
michael*
linso*
mr*
hxy2d
spr_fh
*_uncorr*
*_rot*
lattice.dat
latts*
*.inc
*colormaps*


# LaTeX extras
*.aux
*.fls
*_latexmk
*.log
*.bbl
*.toc
*.synctex*
*pycache*
